.title {
  margin-top: 5%;
}
h1 {
  text-align: center;
  font-size: 46px;
  color: rgb(31, 18, 95);
  margin: 0;
}
hr {
  width: 10%;
  height: 4px;
  background-color: #c59d5f;
  border: none;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  hr {
    width: 30%;
    
  }
}
