.food-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.food {
  display: flex;
  /* border: 2px solid black; */
  height: 170px;
  width: 480px;
 margin: 20px 50px 0 50px;
  
}

.name {
  color: rgb(31, 18, 95);
  float: left;
}
.price {
  float: right;
  color:  #C59D5F;
}
.information {
    clear: left;
}
.line{
    clear:both;
    margin: 0 auto;
    border-bottom: 1px solid rgb(90, 79, 79);
    height:5px;
    width: 100%;
}
.food-image{
    border: 5px solid #C59D5F;
    margin-right: 30px;
    
}

